.container{
  max-width: 1200px;
}
.nav li{
  list-style-type: none;
  float: left;
  padding: 10px;
  margin-left: 0px
}
.nav a{
  color: black;
  text-decoration: none;
}
.nav a:hover{
  color: black;
}
.mainBanner img {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  filter: grayscale(10%);
  -webkit-filter: grayscale(10%);
}
.mainBanner img:hover {
  filter: grayscale(70%);
  -webkit-filter: grayscale(70%);
}
.image-box{
  width: 1000px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  margin-top: 2%;
}
.sunglassesBanner{
  max-width: 1000px;
  height: 350px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  filter: grayscale(30%);
  -webkit-filter: grayscale(30%);
}
.inventoryImg{
  max-width: 600px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  max-height: 500px;
}
.left{
  float: left;
}
.bannerText{
  position: absolute;
  top: 250px;
  max-width: 1000px;
}
.inventoryHover{
  width: 600px;
  position: fixed;
  top: 250px;
}
.inventoryHover h3{
  text-align: center;
  color: white;
}

h1{
  color: white;
  font-size: 7em;
  width: 1000px;
  text-align: center;
}
h2{
  color: white;
  font-size: 6em;
  width: 1000px;
  text-align: center;
}
.sunglassesBanner .bannerText{
  top: 130px;
}
.center img {
  float: left;
}
.imgColumns{
  float: left;
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.hoverImage{
  background-color: rgba(0,0,0,0);
  overflow: hidden;
  width: 250px;
  /*height: 200px;*/
}
.hoverImage img{
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  margin: 0 auto;
}

.hoverText {
  position: absolute;
  top: 15%;
  opacity: 0;
  max-width: 250px;
}
.hoverText h3{
  text-align: center;
  width: 250px;
}

.hoverImage a:hover, .inventoryImg a:hover{
  color: white;
  text-decoration: none;
  background-color: none;
}

.hoverImage:hover .hoverText, .inventoryImg:hover .inventoryHover{
  opacity: 1;
}
.hoverImage:hover img, .inventoryImg:hover img{
  opacity: 0.5;
  background-color: rgba(0,0,0,0.9);
}

.hoverImage:hover, .inventoryImg:hover{
  background-color: rgba(0,0,102,0.9);
}
.hoverColumns{
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}
.sunglassDescription h2 {
  color: black;
}
.sunglassDescription img {
  max-width: 600px;
  float: left;
  margin-right: 10px;
}
.inventorySunglasses img {
  max-width: 300px;
}
.inventorySunglasses {

}
input{
  border: none;
  border-bottom: 2px solid black;
  display: table-cell;
  width: 300px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
input:focus {
  outline: none;
  border-bottom: 3px solid black;
  width: 100%;
}
form{
  display: table;
  width: 400px;
  margin: 0 auto;
}
label{
  text-align: left;
  display: block;
}
