<!-- Navigation Bar -->
<div class="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/sunglasses">Sunglasses</a></li>
    <li><a href="#">Watches</a></li>
    <li><a href="/accounts">Account</a></li>
    <li><a href="/inventory">Inventory</a></li>
  </ul>
</div>
<!-- Main Banner -->
<div class="image-box mainBanner">
  <img class="img-responsive" src="img/main.jpg">
  <div class="bannerText">
    <h1>TOJO</h1>
  </div>
</div>
