
<div class="">
  #if ($user)
    <h4>Name: $user.getName()</h4>
    <h4>Phone: $user.getPhone()</h4>
    <h4>Email: $user.getEmail()</h4>
    <h4>Credit Card #: $user.getCreditCardNum()</h4>
    <h4>Billing Street: $user.getStreet()</h4>
    <h4>Billing City: $user.getCity()</h4>
    <h4>Billing State: $user.getState()</h4>
    <h4>Billing Zipcode: $user.getZipcode()</h4>
  #else
    <p>Oops, looks like you don't have an account! < a href="#">Create an account now.</a></p>
  #end
</div>
